<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.todo.demo.mapper.TodoTaskMapper">
    <resultMap id="BaseResultMap" type="com.hand.todo.demo.domain.TodoTask">
    </resultMap>
</mapper>